<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/stylesRegistro.css">
</head>
<body>
    <div class="sidebar">
        <h1>NOMBRE COMERCIAL</h1>
        <h2>HERRAMIENTA DE ANÁLISIS</h2>
        <button>ANÁLISIS TÉCNICO</button>
        <button>NEURAL NETWORK</button>
        <button>MACHINE LEARNING</button>
        <button>PROYECTO ACTIVO</button>
    </div>
    <div class="main">
        <button>Ingresar</button>
        <button>Registrarse</button>
        <input type="email" placeholder="Correo electrónico">
        <input type="text" placeholder="Alias">
        <input type="password" placeholder="Contraseña">
        <button>REGISTRARSE</button>
    </div>
</body>
</html>
